:root {
    --dark-primary-bg: #181818;
    --dark-secondary-bg: #1f1f22;
    --dark-primary-font: #adb8b6;
    --dark-secondary-font: #797c7c;
    --dark-tertiary-font: #6c7070;
    --dark-primary-container: #2f2d30b7;
    --dark-secondary-container: #2f2d307b;
    --black: black;
    --dark-blue: #3585e4;
    --dark-red: #96161a;

    --light-primary-bg: #a09d9c;
    --light-secondary-bg: #aca9a5;
    --light-primary-font: #381e07;
    --light-secondary-font: #4a4742;
    --light-tertiary-font: #4f4d49;
    --light-primary-container: #7b808058;
    --light-secondary-container: #7d828236;
    --white: white;
    --light-blue: #1c73dd;
    --light-red: #d53d42;
}

:root {
    --primary-bg: var(--dark-primary-bg);
    --secondary-bg: var(--dark-secondary-bg);
    --primary-font: var(--dark-primary-font);
    --secondary-font: var(--dark-secondary-font);
    --tertiary-font: var(--dark-tertiary-font);
    --primary-container: var(--dark-primary-container);
    --secondary-container: var(--dark-secondary-container);
    --extreme: var(--black);
    --blue: var(--dark-blue);
    --red: var(--dark-red);
}

[data-theme="light"] {
    --primary-bg: var(--light-primary-bg);
    --secondary-bg: var(--light-secondary-bg);
    --primary-font: var(--light-primary-font);
    --secondary-font: var(--light-secondary-font);
    --tertiary-font: var(--light-tertiary-font);
    --primary-container: var(--light-primary-container);
    --secondary-container: var(--light-secondary-container);
    --extreme: var(--white);
    --blue: var(--light-blue);
    --red: var(--light-red);
}